*, *::after, *::before{
    box-sizing: border-box;
}
body{

    background: #303030;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
}
.container
{
    width: 450px;
    height: 450px;
    border: 1px solid black;
    display: grid;
    background: lightgrey;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.box
{
    width: 150px;
    height: 150px;
    border: 1px dashed black;
    font-size: 100px;
    display: flex !important;
    justify-content: center;
    align-items: center;
   
        &:hover{
            cursor: pointer;
            background: lightgreen;
        }
}